# Python: Playing with string

In [1]:
# Working with some String function

S="PramodkumarGupta123"

In [2]:
S.isalnum()

True

In [3]:
S.isalpha()

False

In [4]:
S.isdigit()

False

In [5]:
S="Pramod Gupta"
S.istitle()

True

In [6]:
S.endswith("a")

True

In [7]:
S.startswith("P")

True

In [8]:
S='PRAMoD'
S.isupper()

False

# List Example
List is a collection which is ordered and changeable. Allows duplicate members.

In [9]:
# Define Empty list
lst=[]
lst=list()

In [10]:
type(lst)

list

In [11]:
# Append item into list
lst=["India","USA",100,200,300,400]
lst.append("Pramod")
print(lst)
lst.remove("Pramod")
print(lst)

# Print length of elements
print("Length of the List: {x} \nList: {y}".format(x=len(lst), y=lst))

['India', 'USA', 100, 200, 300, 400, 'Pramod']
['India', 'USA', 100, 200, 300, 400]
Length of the List: 6
List: ['India', 'USA', 100, 200, 300, 400]

In [12]:
# Indexing in List

# Display lst Items
print("lst: (Display lst Items) ", lst)

# 1: Display all items
print("1: ( Display all items): ", lst[:])

# 2: Display 2nd items till end
print("2: Display 2nd items till end: ", lst[1:])

# 3: Display 2nd items till last - 2
print("3:  Display 2nd items till last - 2: ", lst[1:4])

# 4: Display items from last
print("4: Display items from last:", lst[-5:])

# 5: Display items till last -2
print("5: Display items till last -2: ", lst[:-2])

# 6: Display items from 3 to last -2
print("6: Display items from 3 to last -2: ", lst[2:-2])

lst: (Display lst Items)  ['India', 'USA', 100, 200, 300, 400]
1: ( Display all items):  ['India', 'USA', 100, 200, 300, 400]
2: Display 2nd items till end:  ['USA', 100, 200, 300, 400]
3:  Display 2nd items till last - 2:  ['USA', 100, 200]
4: Display items from last: ['USA', 100, 200, 300, 400]
5: Display items till last -2:  ['India', 'USA', 100, 200]
6: Display items from 3 to last -2:  [100, 200]

In [13]:
# Use Insert function to insert data at specific position

lst.insert(2,"Sri Lanka")
lst

['India', 'USA', 'Sri Lanka', 100, 200, 300, 400]

In [14]:
lst.append(['A','B'])
print(lst)

# Use Extend method to add items into list
lst.extend([7,8])
print(lst)

lst.remove(['A','B'])
print(lst)

['India', 'USA', 'Sri Lanka', 100, 200, 300, 400, ['A', 'B']]
['India', 'USA', 'Sri Lanka', 100, 200, 300, 400, ['A', 'B'], 7, 8]
['India', 'USA', 'Sri Lanka', 100, 200, 300, 400, 7, 8]

## List: In Build Functions

### POP, SUM, MIN, MAX, COUNT, INDEX Method in List

In [15]:
# POP method

lst.pop()

8

In [16]:
lst.pop(0)

'India'

In [17]:
lst1=[1,2,3,4,5]
sum(lst1)

15

In [18]:
min(lst1)

1

In [19]:
max(lst1)

5

In [20]:
lst1.count(4)

1

In [21]:
lst1.index(4)

3

## Sets 

Set is a collection which is unordered and unindexed. No duplicate members.

In [22]:
st1={'A','B','C'}
st2={'A','B','C','D'}


st2.difference(st1)

{'D'}

In [23]:
st2

{'A', 'B', 'C', 'D'}

In [24]:
# Use Update to change Set2

st2.difference_update(st1)

In [25]:
st2

{'D'}

In [26]:
# Intersect is use to find common elements
st1={'A','B','C'}
st2={'A','B','C','D'}
st2.intersection(st1)

{'A', 'B', 'C'}